# Compiled class file
*.class
.DS_Store

.gradle/
.idea/
.settings/
build/
out/
bin/
module**/src/desktopMain/kotlin/org/aurora/demo/svg**/**
module**/src/desktopMain/kotlin/org/aurora/demo/scalable/svg**/**
